.open {
  container-name: modal;
  z-index: 5;
  align-items: center;
  justify-content: center;
  container-type: inline-size;
  background-color: var(--primary-contaier);
  width: 100vw;
  height: 100svh;
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  flex-flow: row nowrap;
  display: flex;
  opacity: 1;
  transition: all 1.5s ease-in-out;
  .wrapper {
    width: 90vw;
    border-radius: 2vmin;
    box-shadow: var(--dp20);
    background-color: var(--surface-variant);
    color: var(--on-surface-variant);
    height: 90svh;
    box-sizing: border-box;
    padding: 2vmin;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 8px;
    flex-flow: column nowrap;
    justify-content: flex-start;
    overflow: scroll;
    justify-items: stretch;
    @media (max-width: 1200px) {
      display: flex;
    }
    & > * {
      width: 100%;
    }
  }
}

.closed {
  display: none;
  width: 0;
  height: 0;
  opacity: 0;
}

.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--inverse-surface);
  color: var(--inverse-on-surface);
  box-shadow: var(--elevation-3);
  text-align: center;
  border-radius: var(--shape-corner-extra-small);
  padding: 1rem;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 2rem;
  &.show {
    visibility: visible;
    -webkit-animation:
      fadein 0.5s,
      fadeout 0.5s 2.5s;
    animation:
      fadein 0.5s,
      fadeout 0.5s 2.5s;
  }
  &.hide {
    visibility: hidden;
    -webkit-animation:
      fadein 0.5s,
      fadeout 0.5s 2.5s;
    animation:
      fadein 0.5s,
      fadeout 0.5s 2.5s;
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
